{% extends 'web_app/home.html' %}
{% load static %}
{% block content %}

<h3 style="text-align:center; color:red;">RED BUCKET STORY</h3>
<div class="txt-rb">
    <div class="txt">
<p>Hello Welcome to RED BUCKET Restaurant. So glad you're here.</p>
    <p>The founder of the RED BUCKET <b>Mr.Manikanta</b> founded in 2023 year. We've been working in the food resturent industry for prety much of
entire lives. We ware providing tasty, quality, quantity food with reasonable prices. We got a good reviews and positive
comments in our socity.</p>
    <p>For entrepreneurs who have a personal brand that goes with their business, this style of an about us page might be
    better. You can treat your business as one important chapter in a much large series of stories, starting at the beginning and
    ending where your ideal reader is introduced as a character.</p>
   </div>
</div>
<h6 style="text-align:center; color: red;">Thank you for showing interest knowing about to us<br><small>YOUR'S RED BUCKET</small></h6>

{% endblock content %}